<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MLB Probable Pitchers</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/index.css') }}">
  </head>
  <body>
    <div id="header">
      <h1>MLB Probable Pitchers</h1>
      <p>Powered by MLB-StatsAPI</p>
    </div>
    <div id="form-box">
      <div id="team-select">
        <label for="teambox">Team:</label>
        <br>
        <select id="teambox">
            <option selected="true" disabled="disabled">Select Team</option>
            <option value="ARI">ARI</option>
            <option value="ATL">ATL</option>
            <option value="BAL">BAL</option>
            <option value="BOS">BOS</option>
            <option value="CHC">CHC</option>
            <option value="CIN">CIN</option>
            <option value="CLE">CLE</option>
            <option value="COL">COL</option>
            <option value="CWS">CWS</option>
            <option value="DET">DET</option>
            <option value="HOU">HOU</option>
            <option value="KC">KC</option>
            <option value="LAA">LAA</option>
            <option value="LAD">LAD</option>
            <option value="MIA">MIA</option>
            <option value="MIL">MIL</option>
            <option value="MIN">MIN</option>
            <option value="NYM">NYM</option>
            <option value="NYY">NYY</option>
            <option value="OAK">OAK</option>
            <option value="PHI">PHI</option>
            <option value="PIT">PIT</option>
            <option value="SD">SD</option>
            <option value="SEA">SEA</option>
            <option value="SF">SF</option>
            <option value="STL">STL</option>
            <option value="TB">TB</option>
            <option value="TEX">TEX</option>
            <option value="TOR">TOR</option>
            <option value="WAS">WAS</option>
        </select>
      </div>

      <div id="date-select">
        <label for="gamedate">Game Date:</label>
        <br>
        <input type="date" placeholder="Game Date" id="gamedate">
      </div>

      <div class="break"></div>

      <button onclick="submit()">Submit</button>
    </div>
    <script>
      function submit() {
        var team = document.getElementById("teambox").value;
        var gameday = document.getElementById("gamedate").value;
        console.log(window.location.origin)
        location.href =  window.location.origin + "/result?team=" + team + "&gamedate=" + gameday
      }
    </script>
  </body>


    